* {
    margin: 0;
    padding: 0; /* Include this to reset padding */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    min-height: 100vh;
    background-image: url(/assets/Designer.png);
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
button{
    border: none;
    background: #ea1538;
    margin-top: 7px;;
    padding: 10px 5px;
    border-radius: 60px;
    color: rgb(175, 164, 164);
    font-weight: bold;
    font-size: 15px;
    transition: .4s;
    /* margin-right: 40px; */
    margin-left: 30px;
}
.para{
    padding: 10px 10px;
    font-size: 13px;
}
nav{
    background-color: rgb(190, 190, 190);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li{
    height: 50px;
}
nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}
nav a:hover{
    background-color: rgb(95, 90, 90);
}
nav li:first-child{
    margin-right: auto;
}
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 10;
    background-color: rgb(225, 225, 225, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    transition: .5s;
}
.sidebar li{
    width: 100%;
}
.sidebar a{
    width: 100%;
}
.menu-button{
    display: none;
}
@media(max-width: 800px){
    .hideOnMobile{
        display: none;
    }
    .menu-button{
        display: block;
    }
}
@media(max-width: 400px){
    .sidebar{
        width: 100%;
    }
}
.wrapper{
    padding: 10px 10px;
}
#card-area{
    padding: 50px 0;
}
.box-area{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin: 50px;
    padding: 15px;
}
.box{
    border-radius: 10px;
    padding: 15px;
    position: relative;
    overflow: hidden;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}
.box img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.overlay{
    height: 0;
    width: 100%;
    background: linear-gradient(transparent, rgb(46, 44, 44) 58%);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: left;
    font-size: 14px;
    transition: height 0.5s;
}
.overlay h3{
    font-weight: 500;
    margin-bottom: 5px;
    margin-top: 80%;
    font-size: 20px;
    letter-spacing: 2px;
}
.overlay a{
    margin-top: 10px;
    color: #262626;
    text-decoration: none;
    font-size: 14px;
    background: #fff;
    border-radius: 50px;
    text-align: center;
    padding: 5px 15px;
}
.boxLhover img{
    transform: scale(1.2)
}
.box:hover .overlay{
    height: 100%;
}
p{
    margin-top: 5px;
    margin-bottom: 15px;
}
h3{
    margin-top: 10px;
    margin-bottom: 10px;
}
.img{
    border-radius: 50px;
}
.container {
    background-color: rgba(126, 117, 117, 0.4); /* 60% transparency */
    border-radius: 50px;
    padding-top: 10px;
    padding-left: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
}
.contact{
    margin-top: 20px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 40px;
}